<h2>Add products</h2>
<hr/>

<p>Download Sample Product Template</p>
<%= link_to "Click here to download sample template", "/product_template/sample_template.xlsx" %>

<hr/>

<%= form_with url: import_products_path, method: :post, multipart: true do |form| %>
  <%= form.file_field :file %>
  <%= form.submit "Upload Products" %>
<% end %>


